.sectionMoney {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.divMoney {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sectionMoney h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #212529;
}

.sectionMoney p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #fd377e;
}

.sectionMoney span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #343a40;
}
